# Project Specific
ai_models/
feedback/
student_profiles/
student_profiles_pdf/
student_profiles_redacted/
student_self_evaluations/
mail_attachments/
*.log
*.csv
*.xlsx
*.docx

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
